/* Workspace */

.workspace--list {
    display: flex;

    width: 100%;
    height: 100%;
    
    background-color: var(--dark-1);

    color: var(--dark-top)
}

.workspace--task-container {
    display: block;

    width: 100%;
    height: 100%;

    overflow: scroll;

    font-size: 18px;
}

.workspace--title {
    position: sticky;
    margin: 35px;
}

/* Insert Button */

.workspace--insert-button {
    padding: 10px 20px;
    margin-left: 15px;
    width: 80%;
    border: 0;
    border-radius: 5px;
    
    font-size: 18px;
    text-align: left;

    color: var(--dark-top);
    background-color: transparent;
}

.workspace--insert-button:hover {
    background-color: var(--accent-2);
}

/* Task */

.workspace--task {
    display: flex;

    margin: 3px 15px;
    padding-left: 20px;
    border-radius: 5px;

    width: 80%;

    align-items: center;
}

.workspace--task--input {
    background-color: transparent;
    color: var(--dark-top);

    width: 100%;
    height: 100%;

    margin: 10px 20px;
    border: 0px;
    outline: none;

    font-size: 18px;
}

.workspace--task--checkbox {
    height: 50px;
    width: 50px;
}

.workspace--task:hover {
    background-color: var(--accent-2);
}

.worksspace--task:focus-within {
     background-color: var(--accent-2);
}

.worksspace--task--input:focus {
    outline: none;
}

.fa-square-minus {
    margin-right: 20px;

    font-size: 20px;

    color: red;
}