/* Variables */

:root {
    --sidebar-width: 20%;

    --dark-top: #ffff;
    --dark-1: #121212;
    --dark-2: #212121;

    --accent-top: #00bcd4;
    --accent-1: #161b1c;
    --accent-2: #2b3031;

    --font-1: "Varela";
    --font-2: "Space Grotesk";
}

/* Global */

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    /* color: var(--dark-top); */

    font-family: var(--font-1), var(--font-2);
}

html, head, body, #root {
    width: 100vw;
    height: 100vh;
}

/* App */

.app {
    display: flex;

    width: 100%;
    height: 100%;
    
    background-color: var(--dark-1);

    color: var(--dark-top)
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: var(--sidebar-width);
    height: 100%;

    padding: 30px;

    background-color: var(--accent-2);

    font-size: 12px;
}